 
name: CI/CD
on:
  push:
    branches: '**'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: (cd front_end/proyecto-obi && npm install)

    - name: Build
      run: (cd front_end/proyecto-obi && npm run build)
    
    - name: Uploading artifact 
      uses: actions/upload-artifact@v2
      with:
        name: Artifact
        path: /front_end/proyecto-obi/build/
  
  github-package:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download math result for job 1
        uses: actions/download-artifact@v2
        with:
          name: Artifact
          path: ./front_end/proyecto-obi/build/
      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT_GHCR }}
      - uses: actions/checkout@v2
      - name: Build Docker images
        run: |
          docker build -t ghcr.io/starsaminf/proyectoobi/front_end -f ./front_end/proyecto-obi/Dockerfile front_end/proyecto-obi/
      - name: Push Docker images to registry
        run: |
          docker push ghcr.io/starsaminf/proyectoobi/front_end
